@tailwind base;
@tailwind components;
@tailwind utilities;


/*ICON ACCUEIL NURSES*/
.connexionBg{
    background-image: url("../../public/assets/img/photo-1555252333-9f8e92e65df9.avif");
    background-position: center;
    background-size: cover;
}
.sizeIcon{
    width: calc(100vw - 256px);
}

/*profil*/
#backgroundProfil{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/*Calendar*/
.MonthCalendar{

}
.grilleMonthCalendar{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
}
.Information{
    width: 40%;
    height: 90vh;
}
.menuLateralMessage{
    width: 350px;
    height: 90vh;
    border-radius: 15px;
    background-color: blueviolet;
}
.chatMessage{
    width: 60%;
    height: 90vh;
    border-radius: 15px;
    background-color: blueviolet;
}
.cardIndividuel{
    border-radius: 15px;
}
.zoneMessage{
    width: 97%;
    height: 95%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.zoneInput{
    height: 7%;
    width: 97%;
    background-color: rgb(255, 255, 255);
    border-radius: 55px;
}
