.grilleMonthCalendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.activiteContainer {
    width: 40%;
    height: 90vh;
    padding: 2rem;
    overflow: auto;
    width: 100%;
    border-radius: 1rem;
    background-color: #D8E2DC;
}

.contenuActivite {
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: .5rem;
}

.dateC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    border-right: 1px solid #000;
    font-size: 20px;
    padding: 1rem;
}

