@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') font-weight-normal,
        url('../fonts/Poppins-Bold.ttf') font-weight-bold,
        url('../fonts/Poppins-Black.ttf') font-weight-black;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar { /* Navbar */
    width: 16rem;
    transition: all 0.5s ease;
    z-index: 99;
}

.burger { /* Menu burger */
    display: none;
}

/* Panel (NURSE) */
#icones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

.panelBtn img {
    width: 100%;
    object-fit: cover;
}

.panelActive{ /* Au clic, devient vert */
    background-color: #8EC9C1;
}

.modalWindow {
    width: 600px;
    padding: 2rem;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.18);
}

#modal-activity textarea, #modal-blessure textarea{
    width: 500px;
    height: 150px;
    padding: 15px;
}

/* Modal SOMMEIL Select OPTION */
#sleep_option span {
    display: inline-block;
  }

#sleep_option input[type="radio"]:checked + span {
    background-color: #fec89a;
  }


/* Modal FIEVRE */
#rs-bullet {
    position: relative;
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

#rs-range-line { /* Ligne */
    padding: 10px 3px;
    margin: 10px;
    width: 180px;
    height: 15px;
    -webkit-appearance: none;
    background: linear-gradient(90deg, rgba(31,131,255,1) 0%, rgba(80,191,109,1) 40%, rgba(255,118,0,1) 69%, rgba(255,4,4,1) 100%);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#rs-range-line::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    height: 35px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: rgba(255,255,255,1);
    cursor: pointer;
    -webkit-appearance: none;
}
#rs-range-line::-moz-range-thumb{
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    height: 35px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: rgba(255,255,255,1);
    cursor: pointer;
    -webkit-appearance: none;
}

